body {
  font: normal 12px/1.5em "Helvetica Neue", "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
  background: #DDD;
  color: #333;
  min-width: 400px;
}

th {
  text-align: left;
}

#header {
  padding: 6px;
  background: #5A9ECF;
  height: 70px;
  border-bottom: 6px solid #058;
}

.titles {
  color: white;
  float: left;
}

#title {
  font-size: 22pt;
  color: white;
}

#domain {
  padding-top: 20px;
  font-size: 18pt;
}

#main-form {
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	background: #5A9ECF;
	color: white;
	-moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  z-index: 100;
}

#main-form td {
	padding: 5px;
}

input {
	padding: 2px;
	margin: 2px;
	border: none;
}

.content {
  padding-top:25px;
  padding-bottom:25px;
  font-size: 110%;
}

.error {
  text-align: center;
  color: red;
}

.logon-heading {
  text-align: center;
  padding: 10px 0;
  margin-bottom: 20px;
  font-size: 150%;
  background: #058;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
}

.logon-company {
  text-align: right;
  padding-right: 5px;
  width: 100px;
  font-size: 120%;
  color: white;
}

.logon-username {
  text-align: right;
  padding-right: 5px;
  width: 100px;
  font-size: 120%;
  color: white;
}

.logon-password {
  text-align: right;
  padding-right: 5px;
  font-size: 120%;
  color: white;
}

#logon {
  background: #058;	
  color: white;
  cursor: pointer;
  padding: 3px 15px;
  border: none;
}

#logon:hover {
  text-decoration: underline;
}

input {
	vertical-align: baseline !important;
}

.logon-reset {
  text-align: right;
  padding-top: 40px;
}

#logon-reset-message:hover {
  text-decoration: underline;
  cursor: pointer;
}

#logon-reset-message {
	text-decoration: none;
	color: white;
}

.reset-info {
	border-top: solid 1px #058; 
	padding: 10px;
}

.reset-button-div {
	padding: 10px;
	text-align: center;
}

#reset {
  background: #058; 
  color: white;
  cursor: pointer;
  padding: 3px 15px;
}

#footer {
  clear: both;
  margin: 9px 5px 18px 5px;
  padding: 4px 0;
  background-color: #CCC;
  text-align: center;
  color: #555;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

#footer a:hover {
  text-decoration: underline;
}

#footer a {
  color: #333;
  text-decoration: none;
}

#copyright {
  padding-top: 4px;
  float: left;
}

#buildinfo {
  padding-top: 4px;
  float: right;
}