html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  font: normal 12px/1.5em "Helvetica Neue", "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
  background: #dddddd;
  color: #333333;
  min-width: 950px;
}

th {
  text-align: left;
}

textarea {
  resize: vertical;
  border: 2px inset;
  padding: 0px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

#header {
  padding: 6px;
  background: #5a9ecf;
  height: 70px;
  border-bottom: 6px solid #204e70;
}
#header .titles {
  color: white;
  float: left;
}
#header .titles #title {
  font-size: 22pt;
}
#header .titles #subtitle {
  padding-top: 20px;
  font-size: 18pt;
}
#header .userinfo {
  layout: relative;
  color: white;
  font-weight: bold;
  background: #3278ab;
  padding: 4px 8px;
  margin-left: 73%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  height: 60px;
}
#header .userinfo .avatar {
  padding: 2px;
  background: white;
  margin: 4px;
  float: left;
}
#header .userinfo .avatar img {
  width: 48px;
  height: 48px;
  display: block;
}
#header .userinfo .username {
  margin-top: 8px;
}
#header .userinfo .actions {
  margin-top: 8px;
}
#header .userinfo .actions a {
  color: white;
}
#header .userinfo .actions a:hover {
  text-decoration: underline;
}

#header-tag {
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-weight: bold;
  width: 16px;
  height: 16px;
  background: #5a9ecf;
  color: white;
  cursor: pointer;
  z-index: 999;
}

#footer {
  clear: both;
  margin: 9px 0 18px 0px;
  padding: 4px 0;
  width: 100%;
  background-color: #cccccc;
  text-align: center;
  color: #555555;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#footer a {
  color: #333333;
  text-decoration: underline;
}
#footer #copyright {
  padding-top: 4px;
  float: left;
}
#footer #buildinfo {
  padding-top: 4px;
  float: right;
}

#main {
  float: left;
  margin: 9px 0 0 18px;
  width: 70%;
  position: relative;
}

#main-menu {
  background: #204e70;
  height: 33px;
  color: white;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
#main-menu li:first-child span {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
}
#main-menu li.selected span {
  background-color: #5a9ecf;
}
#main-menu li span:hover {
  background-color: #2c6a97;
}
#main-menu li.selected span:hover {
  background-color: #5a9ecf;
}
#main-menu li span {
  padding: 8px 20px 7px 20px;
  display: block;
  float: left;
  border: none;
  font-weight: bold;
  position: relative;
  cursor: pointer;
}

.action-clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}

.action-menu {
  padding: 5px 0 5px 0;
  background: #5a9ecf;
  height: 22px;
  border-bottom: 1px solid #204e70;
}
.action-menu .action:hover {
  color: white;
  cursor: pointer;
}
.action-menu li span {
  padding: 4px 8px 0 8px;
  display: block;
  float: left;
  border: none;
  color: #204e70;
  font-weight: bold;
  margin: 0 6px;
}
.action-menu li select {
  padding: 2px 8px;
  display: block;
  float: left;
  border: none;
  color: #204e70;
  margin: 0 6px;
}
.action-menu li input {
  float: left;
  border: none;
  padding: 2px 2px;
}
.action-menu li input[type='checkbox'] {
  margin-top: 5px;
  cursor: pointer;
}
.action-menu li label {
  margin-top: 3px;
  font-weight: bold;
  float: left;
  color: #204e70;
}
.action-menu li label:hover {
  cursor: pointer;
  color: white;
}

.action-button-holder {
  overflow: hidden;
  padding: 5px 0 5px 0;
  height: 23px;
  background: #5a9ecf;
  font-weight: bold;
}
.action-button-holder span {
  margin: 2px 6px 0 6px;
}
.action-button-holder .action-button {
  float: left;
  color: #204e70;
}
.action-button-holder .action-button:hover {
  color: white;
  cursor: pointer;
}

.action.selected {
  color: white;
}

.clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}

.clickable-item {
  font-size: 12px;
  height: 19px;
  white-space: nowrap;
  padding: 7px 3px;
  border-bottom: 1px solid #cccccc;
}
.clickable-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.clickable-item-holder {
  background: #eeeeee;
  overflow: auto;
}

.warn-prompt {
  padding: 5px 0;
  height: 23px;
  background: white;
}
.warn-prompt .warn-prompt-button {
  padding: 2px 4px;
  margin: 0 4px;
  float: right;
  color: #204e70;
  background: #5a9ecf;
}
.warn-prompt .warn-prompt-button:hover {
  color: white;
  cursor: pointer;
}
.warn-prompt .warn-prompt-message {
  padding: 5px;
  color: red;
  font-weight: bold;
}

.elx-warning {
  padding: 7px 3px;
  color: red;
  background: #eeeeee;
}

.elx-waiting {
  cursor: wait;
}

.form-fields {
  background: #eeeeee;
  width: 100%;
}

.field-label {
  margin-top: 5px;
  font-weight: bold;
  text-align: right;
  padding-right: 5px;
}

.field-value {
  width: 95%;
}

.radio-buttons {
  background: #5a9ecf;
  color: #204e70;
}
.radio-buttons .radio-button-choice {
  cursor: pointer;
  margin: 4px;
}
.radio-buttons .radio-button-choice:hover {
  color: white;
}
.radio-buttons .selected {
  color: white;
}

.elx-star {
  width: 24px;
  height: 24px;
  margin: -4px 0;
  cursor: pointer;
}

.elx-star-on {
  background-image: url("../graphics/yellow-star24x24.png");
  background-repeat: no-repeat;
}

.elx-star-off {
  background-image: url("../graphics/plain-star24x24.png");
  background-repeat: no-repeat;
}

.anonymous-info {
  background: white;
  padding: 5px 0px 20px 0px;
  font-size: 110%;
}
.anonymous-info p {
  margin-left: 5px;
  margin-bottom: 5px;
}
.anonymous-info h1 {
  margin: 5px 0 5px 5px;
  font-weight: bold;
  font-size: 110%;
}
.anonymous-info h2 {
  margin: 20px 0 5px 5px;
  font-weight: bold;
}
.anonymous-info ul {
  list-style-type: circle;
}
.anonymous-info ul li {
  margin-left: 25px;
}

#create-content .create-option .create-icon {
  float: left;
}
#create-content .create-option .create-type {
  float: left;
  margin: 10px;
  font-size: 200%;
  color: #204e70;
}
#create-content .create-option .create-header {
  margin-top: 16px;
  height: 50px;
}
#create-content .create-option table {
  width: 100%;
  clear: both;
  background: #eeeeee;
}
#create-content .create-option table tr {
  padding: 5px;
  border-top: 1px solid #cccccc;
}
#create-content .create-option table tr th {
  font-weight: bold;
  text-align: left;
  font-size: 12px;
  height: 19px;
  white-space: nowrap;
  padding: 7px 3px;
  border-bottom: 1px solid #cccccc;
}
#create-content .create-option table tr td {
  text-align: left;
  font-size: 12px;
  height: 19px;
  white-space: nowrap;
  padding: 7px 3px;
  border-bottom: 1px solid #cccccc;
}
#create-content .create-option table tr .header-name {
  width: 30%;
}
#create-content .create-option table tr .header-desc {
  width: 70%;
}

.is-toolbar span {
  margin-top: -1px;
  padding: 0 4px;
  color: #333333;
}

#is-contents {
  overflow: auto;
}

#is-admin-right {
  padding: 0 0 0 10px;
  float: right;
  width: 40%;
}

#is-admin-main {
  overflow: hidden;
}

#is-create-div {
  background: #eeeeee;
}
#is-create-div td {
  padding: 5px;
}

#is-create-description {
  height: 60px;
}

#is-add-category {
  border: none;
  padding: 2px;
}

.is-category-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

#is-category-access {
  width: 100%;
  height: 80px;
}

.is-heading {
  height: 23px;
  padding: 5px 0;
  margin: 0;
  font-size: 120%;
  font-weight: bold;
}

.is-view-notes .is-timestamp {
  width: 80px;
}

.is-view-history .is-timestamp {
  width: 80px;
}

.is-who {
  padding-right: 10px;
}

.is-created {
  width: 100%;
}

.is-link {
  text-decoration: underline;
}
.is-link:hover {
  background: #5a9ecf;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.is-state-toggle {
  float: right;
}

#is-tags {
  width: 250px;
}

#is-tag-mode {
  width: 60px;
  text-align: right;
}
#is-tag-mode:hover {
  cursor: pointer;
  color: white;
}

.input-edit-button {
  display: inline;
  padding: 2px 0;
  margin-top: 3px;
  margin-left: 3px;
  width: 50px;
  text-align: center;
  background: #5a9ecf;
  color: #204e70;
}
.input-edit-button:hover {
  color: white;
  cursor: pointer;
}

.ug-row {
  font-size: 12px;
  height: 19px;
  white-space: nowrap;
  padding: 7px 3px;
  border-bottom: 1px solid #cccccc;
}

#mm-issues-div {
  overflow: hidden;
}
#mm-issues-div table {
  background: #eeeeee;
  width: 100%;
}
#mm-issues-div table th {
  background: #dddddd;
  font-weight: bold;
  padding: 7px 3px 3px 3px;
  height: 23px;
  border-bottom: 1px solid #cccccc;
}
#mm-issues-div table td {
  font-size: 12px;
  height: 19px;
  white-space: wrap;
  padding: 7px 3px;
  border-bottom: 1px solid #cccccc;
}
#mm-issues-div table a:hover {
  text-decoration: underline;
  cursor: pointer;
}
#mm-issues-div table tfoot td div {
  font-weight: bold;
}
#mm-issues-div table tfoot td div span {
  padding: 2px 4px;
}
#mm-issues-div table tfoot td div .table-page-current {
  border: 1px solid #cccccc;
}
#mm-issues-div table tfoot td div .table-page-choice {
  background-color: #5a9ecf;
  border: 1px solid #cccccc;
  cursor: pointer;
}
#mm-issues-div table tfoot td div .table-page-choice:hover {
  color: white;
}

.markdown-editor textarea {
  overflow: auto;
  width: 100%;
}

.markdown-chooser {
  float: right;
  padding: 0;
  height: 22px;
  font-weight: normal;
}

.markdown-view {
  padding: 5px 0;
  white-space: normal;
}
.markdown-view p {
  display: block;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  white-space: normal;
}
.markdown-view h1 {
  font-size: 150%;
  font-weight: bold;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}
.markdown-view h2 {
  font-size: 130%;
  font-weight: bold;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}
.markdown-view h3 {
  font-size: 120%;
  font-weight: bold;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}
.markdown-view strong, .markdown-view b {
  font-weight: bold;
}
.markdown-view em, .markdown-view i {
  font-style: italic;
}
.markdown-view pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0px;
}
.markdown-view ul {
  display: block;
  list-style-type: disc;
  padding-left: 3em;
}
.markdown-view ol {
  display: block;
  list-style-type: decimal;
  padding-left: 3em;
}
.markdown-view li {
  display: list-item;
  white-space: normal;
}

#password-oldpassword {
  width: 100%;
}

#password-newpassword {
  width: 100%;
}

#password-reppassword {
  width: 100%;
}

#email-password {
  width: 100%;
}

#email-newemail {
  width: 100%;
}

#overview-eleave-div h3 {
  padding: 10px 0 4px 2px;
  height: 19px;
  color: #222222;
  font-weight: bold;
  overflow: hidden;
}

.overview-user-table {
  width: 100%;
  background: #eeeeee;
}
.overview-user-table td:first-child {
  font-weight: bold;
  width: 100px;
}
.overview-user-table td {
  font-size: 12px;
  height: 19px;
  white-space: nowrap;
  padding: 7px 3px;
  border-bottom: 1px solid #cccccc;
}

.overview-title {
  height: 33px;
}

.overview-watch-items {
  background: #eeeeee;
  width: 100%;
}
.overview-watch-items a {
  color: #333333;
  text-decoration: none;
}
.overview-watch-items a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.overview-watch-items tr th {
  text-align: left;
  font-weight: bold;
  background: #dddddd;
  padding-left: 4px;
  border-top: solid 1px #cccccc;
  padding: 7px 0;
  height: 19px;
}
.overview-watch-items tr td:first-child {
  width: 250px;
  font-weight: bold;
}
.overview-watch-items tr td {
  font-size: 12px;
  height: 19px;
  white-space: nowrap;
  padding: 7px 3px;
  border-bottom: 1px solid #cccccc;
}
.overview-watch-items img {
  padding-right: 5px;
  vertical-align: -2px;
}

.overview-eleave-items {
  background: #eeeeee;
  width: 100%;
}
.overview-eleave-items tr td:first-child {
  width: 150px;
  font-weight: bold;
}

.overview-item td {
  font-size: 12px;
  height: 19px;
  white-space: nowrap;
  padding: 7px 3px;
  border-bottom: 1px solid #cccccc;
}

#overview-news-body {
  background: #eeeeee;
}

.overview-news-item {
  font-size: 12px;
  height: 19px;
  white-space: nowrap;
  padding: 7px 3px;
  border-bottom: 1px solid #cccccc;
}

.news-item-link {
  text-decoration: none;
  color: #333333;
}
.news-item-link:hover {
  text-decoration: underline;
}

#dc-toolbar {
  padding: 5px;
  color: #204e70;
  font-weight: bold;
}
#dc-toolbar #dc-tools {
  position: relative;
  margin: 0px 5px 5px 5px;
  padding-top: 4px;
  padding-bottom: 2px;
}
#dc-toolbar #dc-tools #dc-breadcrumbs .dc-breadcrumb-folder {
  padding: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  font-size: 12px;
  display: inline;
}
#dc-toolbar #dc-tools #dc-breadcrumbs .dc-breadcrumb-folder:hover {
  color: white;
  cursor: pointer;
}
#dc-toolbar #dc-tools #dc-breadcrumbs .dc-breadcrumb-folder img {
  margin-left: 4px;
  margin-right: 2px;
  vertical-align: -2px;
}
#dc-toolbar #dc-tools #dc-refresh {
  float: right;
  color: #204e70;
}
#dc-toolbar #dc-tools #dc-refresh:hover {
  color: white;
  cursor: pointer;
}

#dc-contents {
  overflow: auto;
  margin: 5px 5px 5px 0;
}
#dc-contents #dc-files {
  background: #eeeeee;
  overflow: auto;
  max-height: 680px;
}
#dc-contents #dc-files .dc-child {
  font-size: 12px;
  height: 19px;
  white-space: nowrap;
  padding: 7px 3px;
  border-bottom: 1px solid #cccccc;
}
#dc-contents #dc-files .dc-child:hover {
  text-decoration: underline;
  cursor: pointer;
}
#dc-contents #dc-files .dc-child img {
  margin-left: 4px;
  margin-right: 2px;
  vertical-align: -2px;
}

#dc-properties {
  overflow: auto;
  padding: 5px 0 5px 5px;
  float: right;
  width: 40%;
  min-height: 350px;
}
#dc-properties #file-drop-target {
  margin: 0 0 5px 5px;
  background: white;
  padding: 10px;
  font-weight: bold;
  color: #555555;
  border: 1px solid #cccccc;
  border-collapse: collapse;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#dc-properties #dc-file-info-holder {
  margin: 0 0 4px 4px;
  background: white;
  border: 1px solid #cccccc;
  border-collapse: collapse;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#dc-properties #dc-file-info-holder #dc-file-info td {
  padding: 3px 5px;
  height: 20px;
}
#dc-properties #dc-file-info-holder #dc-file-info td:first-child {
  text-align: right;
  padding-right: 5px;
  font-weight: bold;
}
#dc-properties #dc-action-holder {
  margin: 10px 0 5px 5px;
  padding: 5px;
  background: #5a9ecf;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#dc-properties #dc-action-holder .dc-action {
  display: block;
  padding: 4px 6px;
  font-weight: bold;
  text-decoration: none;
  color: #204e70;
}
#dc-properties #dc-action-holder .dc-action:hover {
  color: white;
  cursor: pointer;
}

#dc-properties .form-fields {
  background: none repeat scroll 0 0 #5A9ECF;
}
#dc-properties .field-label {
  color: #204E70;
  width: 20%;
  font-weight: bold;
  padding: 4px 6px;
  text-decoration: none;
}
#dc-properties .sc-action-button {
  width: 25%;
}

.file-chooser .repository-ancestors {
  width: 100%;
}
.file-chooser .repository-children {
  width: 100%;
}
.file-chooser .prompt-label {
  float: left;
  margin-top: 5px;
  font-weight: bold;
}
.file-chooser .repository-filename-wrapper {
  overflow: hidden;
  padding: 0 4px;
}
.file-chooser .repository-filename-wrapper .repository-filename {
  width: 100%;
  margin-bottom: 3px;
}
.file-chooser .repository-warning {
  color: red;
}

.se-middle {
  margin: -1px 120px 0 200px;
}

#se-field {
  width: 100%;
}

.se-button {
  float: right;
  padding: 4px 8px;
  font-weight: bold;
}
.se-button:hover {
  color: white;
  cursor: pointer;
}

.se-save-div {
  padding: 4px 8px;
  background: #5a9ecf;
  font-weight: bold;
  color: white;
}
.se-save-div span {
  padding-right: 4px;
}
.se-save-div input {
  width: 300px;
}
.se-save-div .se-save-button {
  padding: 0px 8px;
  color: #204e70;
}
.se-save-div .se-save-button:hover {
  color: white;
  cursor: pointer;
}

#se-contents {
  max-height: 680px;
  overflow: auto;
}

#se-table {
  background: #eeeeee;
  width: 100%;
}
#se-table th {
  background: #dddddd;
  font-weight: bold;
  padding: 7px 3px 3px 3px;
  border-bottom: 1px solid #cccccc;
}
#se-table td {
  font-size: 12px;
  height: 19px;
  white-space: nowrap;
  padding: 7px 3px;
  border-bottom: 1px solid #cccccc;
}
#se-table .search-path:hover {
  text-decoration: underline;
  cursor: pointer;
}
#se-table a {
  text-decoration: none;
  color: #222222;
}
#se-table a:hover {
  text-decoration: underline;
  cursor: pointer;
}

#se-table img {
  padding-right: 5px;
  vertical-align: -2px;
}

#se-searching, #se-no-items {
  border-top: 1px solid #cccccc;
  padding-top: 20px;
  font-size: 200%;
  text-align: center;
}

#sbar {
  padding-top: 9px;
  margin: 0 15px 0 73%;
}
#sbar .sbar-block {
  color: #555555;
}
#sbar .sbar-block h3 {
  color: #222222;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 92%;
  border-bottom: 1px solid #cccccc;
  padding: 8px 0 5px 0;
  height: 19px;
}
#sbar .sbar-delete {
  float: right;
}
#sbar .sbar-clear {
  float: right;
}

.recent-file {
  font-size: 12px;
  height: 19px;
  white-space: nowrap;
  padding: 7px 3px;
  border-bottom: 1px solid #cccccc;
}
.recent-file:hover {
  text-decoration: underline;
  cursor: pointer;
}
.recent-file a {
  color: #333333;
}
.recent-file img {
  margin-left: 4px;
  margin-right: 2px;
  vertical-align: -2px;
}

.saved-search {
  font-size: 12px;
  height: 19px;
  white-space: nowrap;
  padding: 7px 3px;
  border-bottom: 1px solid #cccccc;
}
.saved-search .ui-icon-search {
  float: left;
  margin-right: 4px;
}
.saved-search:hover {
  text-decoration: underline;
  cursor: pointer;
}

.new-message {
  font-size: 12px;
  height: 19px;
  white-space: nowrap;
  padding: 7px 3px;
  border-bottom: 1px solid #cccccc;
}
.new-message .ui-icon {
  float: left;
  margin-right: 4px;
}
.new-message a {
  color: inherit;
}
.new-message .msg-from {
  font-style: italic;
}
.new-message:hover {
  text-decoration: underline;
  cursor: pointer;
}

#logs-detail-view {
  height: 300px;
  overflow: auto;
}

#logs-detail {
  text-align: center;
}

.logs-items {
  background: #eeeeee;
  width: 100%;
}
.logs-items a {
  color: #333333;
  text-decoration: none;
}
.logs-items a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.logs-items tr th {
  text-align: left;
  font-weight: bold;
  background: #dddddd;
  padding-left: 4px;
  border-top: solid 1px #cccccc;
}
.logs-items tr td:first-child {
  width: 200px;
  font-weight: bold;
}
.logs-items tr td {
  font-size: 12px;
  height: 19px;
  white-space: nowrap;
  padding: 7px 3px;
  border-bottom: 1px solid #cccccc;
}
.logs-items img {
  padding-right: 5px;
  vertical-align: -2px;
}

.sc-heading {
  margin: 0;
  font-size: 100%;
  font-weight: bold;
  height: 23px;
  padding: 12px 3px 3px;
}

.sc-toolbar span {
  margin-top: -1px;
  padding: 0 4px;
  color: #333333;
}

#sc-content {
  overflow: auto;
}

#sc-content table {
  background: #eeeeee;
  width: 100%;
}
#sc-content table th {
  background: #dddddd;
  font-weight: bold;
  padding: 7px 3px 3px 3px;
  height: 23px;
  border-bottom: 1px solid #cccccc;
}
#sc-content table td {
  font-size: 12px;
  height: 19px;
  white-space: nowrap;
  padding: 7px 3px;
  border-bottom: 1px solid #cccccc;
}
#sc-content table a:hover {
  text-decoration: underline;
  cursor: pointer;
}
#sc-content table tfoot td div {
  font-weight: bold;
}
#sc-content table tfoot td div span {
  padding: 2px 4px;
}
#sc-content table tfoot td div .table-page-current {
  border: 1px solid #cccccc;
}
#sc-content table tfoot td div .table-page-choice {
  background-color: #5a9ecf;
  border: 1px solid #cccccc;
  cursor: pointer;
}
#sc-content table tfoot td div .table-page-choice:hover {
  color: white;
}

#sc-param-content {
  float: left;
  width: 100%;
}

#sc-param-button-table table {
  width: 10%;
}
#sc-param-button-table table td {
  border-bottom: none;
}

.sc-action-button {
  margin-top: 3px;
  margin-left: 3px;
  font-weight: bold;
  width: 50%;
  text-align: center;
  background: #5a9ecf;
  color: #204e70;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.sc-action-button:hover {
  color: white;
  cursor: pointer;
}

.param-action-button {
  padding: 2px 0;
  margin-top: 3px;
  margin-left: 3px;
  font-weight: bold;
  text-align: center;
  background: #5a9ecf;
  color: #204e70;
}
.param-action-button:hover {
  color: white;
  cursor: pointer;
}

#param-dialog {
  float: left;
  width: 100%;
  padding-bottom: 5px;
}

.param-dialog-action-button {
  padding: 2px 0;
  margin-top: 3px;
  margin-left: 3px;
  font-weight: bold;
  text-align: center;
  width: 50px;
  background: #5a9ecf;
  color: #204e70;
}
.param-dialog-action-button:hover {
  color: white;
  cursor: pointer;
}

.param-dialog-heading {
  margin: 0;
  font-size: 100%;
  font-weight: bold;
  padding: 12px 3px 3px;
}

#param-content {
  float: left;
  width: 89%;
}

.dataTables_wrapper {
  clear: both;
  min-height: 50px;
  position: relative;
}

#param-buttonbar {
  float: right;
  width: 9%;
  height: 100%;
  background: #5a9ecf;
  margin: 10px 0 5px 5px;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

#tr-panel {
  display: none;
}

#sc-parameter-table_length {
  display: none;
}

#sc-parameter-table_filter {
  display: none;
}

#tr-basic-info-panel table td {
  border-bottom: none;
}

.tr-run-monthly-combo {
  width: 120px;
  padding-left: 5px;
}

#tr-jobschedule-runwithregularinterval {
  width: 80%;
  margin-left: 10%;
}

#tr-jobschedule-runwithregularinterval span.ui-widget-content {
  background: none repeat scroll 0 0 #FFFFFF;
}

#tr-jobschedule-runwithcron {
  width: 70%;
  margin-left: 15%;
}

#tr-active-period-panel {
  width: 95%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}

#time-panel span.ui-widget-content {
  background: none repeat scroll 0 0 #FFFFFF;
}

.time-field {
  width: 50%;
}

#tr-active-period-panel span.ui-widget-content {
  background: none repeat scroll 0 0 #FFFFFF;
}

#tr-active-period-panel table td {
  border-bottom: none;
}

#tr-misfire-panel {
  width: 80%;
  margin-left: 10%;
  background: #eeeeee;
}

#tr-misfire-panel table td {
  border-bottom: none;
}

tr.odd {
  background-color: #FFFFFF;
}

tr.even {
  background-color: #FFFFFF;
}

tr.odd td.sorting_1 {
  background-color: #FFFFFF;
}

tr.even td.sorting_1 {
  background-color: #FFFFFF;
}

tr.row_selected td.sorting_1 {
  background-color: #EEEEEE;
}

tr.row_selected {
  background-color: #EEEEEE;
}

.trigger-list-label {
  height: 19px;
  text-align: left;
}

.trigger-label {
  height: 19px;
  margin-left: 30px;
  text-align: left;
}

.trigger-selection-label {
  text-align: left;
  margin-left: 30px;
  height: 23px;
  padding: 12px 3px 3px;
}

.ui-widget-header {
  background: #204E70;
}

.ui-widget-content {
  background: #EEEEEE;
}

#job-run-panel table td {
  border-bottom: none;
}

#tr-jobschedule-runmonthly {
  width: 90%;
}

#tr-jobschedule-runweekly table {
  width: 90%;
}
#tr-jobschedule-runweekly table td {
  border-bottom: none;
}
#tr-jobschedule-runweekly table th {
  padding: 1px 1px 1px 1px;
}

#tr-value-selection-panel {
  margin-left: 5%;
}

#tr-value-selection-panel-table {
  float: left;
  width: 85%;
}

#cron-expression-guide {
  padding-left: 50px;
}

#cron-expression-builder span.ui-widget-content {
  background: none repeat scroll 0 0 #FFFFFF;
}

#cron-expression-guide .field-label {
  text-align: left;
}

#cron-val-selector .sc-action-button {
  width: 15%;
}

.set-chooser {
  border: 1px solid #D9D9D9;
  padding: 2px 2px 3px 2px;
  min-height: 24px;
  background: white;
}
.set-chooser .set-chooser-item {
  float: left;
  border: 1px solid #D9D9D9;
  padding: 2px 4px;
  height: 16px;
  margin: 2px 4px 0 4px;
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
  background: whitesmoke;
}
.set-chooser .set-chooser-item:hover {
  border-color: #B9B9B9;
  cursor: default;
}
.set-chooser .set-chooser-item .sc-label {
  display: inline;
  padding: 0 4px;
}
.set-chooser .set-chooser-item .sc-close {
  float: right;
  cursor: pointer;
}
.set-chooser .sc-predicted {
  background: #FEF9D6;
}
.set-chooser .sc-bad {
  color: red;
}
.set-chooser .sc-editor {
  float: left;
}
.set-chooser .input-icon {
  margin-top: 4px;
  float: right;
  cursor: pointer;
}
.set-chooser .sc-clear {
  clear: both;
}
.set-chooser input {
  border: 1px solid #D9D9D9;
}

.sc-disabled {
  background: #EBEBE4;
}

.watch-embedded-frame {
  width: 100%;
}

.elx-toggle {
  width: 24px;
  height: 24px;
  margin: -4px 0;
  cursor: pointer;
}

.elx-pin-on {
  background-image: url("../graphics/pin_yellow24x24.png");
  background-repeat: no-repeat;
}

.elx-pin-off {
  background-image: url("../graphics/pin_black24x24.png");
  background-repeat: no-repeat;
}

.elx-gear-on {
  background-image: url("../graphics/gear_yellow24x24.png");
  background-repeat: no-repeat;
}

.elx-gear-off {
  background-image: url("../graphics/gear_gray24x24.png");
  background-repeat: no-repeat;
}

.elx-watch-view-refresh {
  background-image: url("../graphics/refresh_yellow24x24.png");
  background-repeat: no-repeat;
}

.watch-view-left {
  float: left;
  width: 100%;
  overflow: auto;
}

.watch-view-left-slide {
  width: 69%;
}

.watch-view-right {
  width: 30%;
  height: auto;
  float: right;
  padding: 1px 1px 1px 1px;
}

.elx-watch-main-title {
  font-weight: bold;
  text-align: center;
}

#watch-properties .ui-spinner-input {
  background: none repeat scroll 0 0 #FFFFFF;
}

.user-group-table {
  width: 100%;
}
.user-group-table th {
  font-size: 12px;
  height: 19px;
  white-space: nowrap;
  padding: 7px 3px;
  border-bottom: 1px solid #cccccc;
  font-weight: bold;
}
.user-group-table td {
  font-size: 12px;
  height: 19px;
  white-space: nowrap;
  padding: 7px 3px;
  border-bottom: 1px solid #cccccc;
}
.user-group-table td.name-column {
  width: 120px;
}
.user-group-table td.cb-column {
  width: 100px;
}

.access-control-form th.fn {
  height: 150px;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: bottom;
}
.access-control-form th.fn div {
  width: 1em;
  transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -khtml-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}
.access-control-form th.u {
  padding: 2px 5px;
  text-align: right;
}
.access-control-form th {
  background-color: #5a9ecf;
  color: #333333;
}
.access-control-form td {
  background-color: #6eaad5;
}

/***************************Customized style********************************************/
div.ui-datepicker,.ui-datepicker td {
	font-size: 10px;
}
form.new td
{
	vertical-align: top;
	text-align: left;
}
form.new td:first-child
{
	text-align: right;
}
.ui-datepicker-header, .ui-datepicker td .ui-state-default
{
	background: #5A9ECF;
}
.ui-datepicker td .ui-state-active, .ui-datepicker td .ui-state-hover
{
	background: #2c6a97;
}

.sbutton {
    background: none repeat scroll 0 0 #2c6a97;
    border: medium none;
    color: white;
    cursor: pointer;
    padding: 3px 15px;
}
td.drill a:link    { color: #000000; text-decoration: underline }
td.drill a:visited { color: #000000; text-decoration: underline }
td.drill a:active  { color: #ff0000; text-decoration: underline }
td.drill a:hover   { color: #ff0000; text-decoration: underline }